/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--main-text-color);
} */

/* :root {
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --black-color: #000000;
  --white-color: #ffffff;
  --secondary-text-color: #757575;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --secondary-bgd: #2f303a;
  --secondary-section-bgd: #f5f4fa;
  --icon-color: #afb1b8;

  --transition-time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* Шаблон-плейсхолдер, статична змінна

%centeredflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* виклик шаблону */

/* @extend enteredflex; */

/* Динамічна змінняб міксін */

/* @mixin centeredflex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@include centeredflex; */

/* Utilits */
/* ul {
  list-style: none;
  margin: 0;
  padding-left: 0px;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* Layouts */

/* .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
} */

/* Studio-page */
/* Page-header */

/* .header {
  border-bottom: 1px solid #ececec;
}

.header__box {
  display: flex;
  align-items: center;
} */

/* Navigation */

/* .navigation {
  display: flex;
} */
/* 
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo--blk {
  color: var(--black-color);
}

.logo--wht {
  color: var(--white-color);
}

.logo__accent {
  color: var(--accent-color);
} */

/* .navigation__list {
  display: flex;
}

.navigation__item,
.header-contacts__item {
  position: relative;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__item:not(:last-child),
.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link,
.header-contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--transition-time) var(--cubic);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.navigation__link:hover,
.navigation__link:focus,
.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--accent-color);
} */

/* Header contacts */

/* .header-contacts {
  display: flex;
  margin-left: auto;
}

.contact-feature {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-contacts__icon:hover {
  fill: var(--accent-color);
} */

/* Main */
/* Hero-section */
/* 
.hero {
  background: var(--secondary-bgd);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img.jpg);
  background-position: center;
  background-size: cover;
}

.hero__title {
  width: 700px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
} */

/* .button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);

  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition-time) var(--cubic);
} */

/* .hero__btn {
  padding: 10px 32px;
} */

/* .button:hover,
.button:focus {
  background-color: #188ce8;
} */

/* Features-section */

/* .section__title {
  text-align: center;

  font-size: 36px;
  line-height: 1.16;
  color: var(--main-text-color);
  margin-bottom: 50px;
} */
/* 
.features {
  display: flex;
}

.feature-item {
  width: 270px;
}

.feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-item__box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-section-bgd);
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-item__title {
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-item__desc {
  line-height: 1.71;
  color: var(--secondary-text-color);
} */

/* What we do */
/* 
.no-top-padding {
  padding-top: 0;
}

.pic-list {
  display: flex;
  justify-content: space-between;
}

.pic-list__item {
  position: relative;
}
.pic-list__bgr {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.pic-list__desc {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
} */

/* Our team */

/* .section-bgr {
  background: var(--secondary-section-bgd);
}
.team {
  display: flex;
  justify-content: space-between;
  text-align: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}
.team__item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  margin-bottom: 30px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--main-text-color);
}
.team__position {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
} */

/* Social links */

/* .social-links {
  display: flex;
  justify-content: space-between;
} */
/* 
.team__social-links {
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
} */
/* 
.social-links__item {
  width: 44px;
  height: 44px;
  fill: var(--icon-color);
  border-radius: 50%;
  transition: background-color var(--transition-time) var(--cubic);
}
.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: fill var(--transition-time) var(--cubic);
}
.social-links__item:hover,
.social-links__link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
} */

/* Clients section */
/* 
.clients {
  display: flex;
  justify-content: space-between;
  fill: var(--icon-color);
}
.clients__item {
  width: 170px;
  height: 92px;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border var(--transition-time) var(--cubic),
    fill var(--transition-time) var(--cubic);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
} */

/* Page-footer */
/* 
.footer {
  background: var(--secondary-bgd);
  padding: 60px 0px;
}

.footer__box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__address-box {
  width: 231px;
  margin-right: 70px;
}

.footer__address {
  font-style: normal;
  line-height: 1.71;
}

.footer__address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__address-item--color {
  color: var(--white-color);
}

.footer__link {
  color: var(--footer-contact-color);
  transition: color var(--transition-time) var(--cubic);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--accent-color);
}

.footer__social-links-box {
  margin-right: auto;
}

.join-call {
  font-weight: 700;
  line-height: 1.14;
  color: var(--white-color);
  text-transform: uppercase;
}

/* Footer social-links */

/* .footer__social-links {
  width: 206px;
  margin-top: 20px;
}

.social-links__item--icon-white {
  fill: var(--white-color);
}

.social-links__link--bgr-grey {
  background: rgba(255, 255, 255, 0.1);
} */

/* Footer subscribe form */
/* 
.footer__subscribe-form-box {
  display: flex;
  justify-content: flex-end;
  width: 570px;
  height: 86px;
}

.subscribe__form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  margin-right: 12px;
  padding: 15px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-color);
}

.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 29px;
}

.subscribe__icon-send {
  margin-left: 10px;
}
*/
*/

/* Modal-window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-time) var(--cubic);
}

/* .backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
} */

/* .backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms var(--cubic);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--transition-time) var(--cubic);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-text-color);
} */

/* Order-form on modal window */
/* 
.order-form {
}

.order-form__label {
  position: relative;
  display: block;
  width: 450px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.order-form__input {
  width: 100%;
  margin-top: 4px;
  padding: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-time) var(--cubic);
}

.order-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill var(--transition-time) var(--cubic);
}

.order-form__label:hover,
.order-form__input:hover,
.order-form__input:focus,
.order-form__icon:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.order-form__input:focus + .order-form__icon {
  fill: var(--accent-color);
}

.comment-field {
  margin-bottom: 20px;
}

.order-form__comment-input {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.order-form__comment-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
} */

/* Checkbox */

/* .checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  line-height: 1.71;
}

.checkbox__field {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 4px;
  left: 14px;
  background-image: url(../images/icon-unchecked.svg);
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__input:focus-visible + .checkbox__field {
  background-image: url(../images/icon-unchecked-focused.svg);
}

.checkbox__input:checked:focus + .checkbox__field {
  background-image: url(../images/icon-check.svg);
}

.checkbox__agreement {
  margin-left: 23px;
  color: var(--secondary-text-color);
}

.checkbox__agreement-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.send-btn {
  display: flex;
  margin: 0 auto;
  padding: 10px 56px;
} */

/* Portfolio-page */

/* im */

/* Portfolio card */

/* .portfolio-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--white-color);
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-item__link {
  display: block;
  transition: box-shadow var(--transition-time) var(--cubic);
}
.portfolio-item__link:hover,
.portfolio-item__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item__link:hover .portfolio-item__overlay-desc,
.portfolio-item__link:focus .portfolio-item__overlay-desc {
  transform: translateY(0);
}

.portfolio-item__overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-item__overlay-desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-style: inherit;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--transition-time) var(--cubic);
}

.portfolio-item__card-desc {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-item__link-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}
.portfolio-item__link-desc {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
} */
