.features {
        
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }        
}

.feature-item {
    
        @media screen and (max-width: 767px) {
        &:not(:last-child) {
        margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        margin: 15px;
        width: calc((100% - 2 * 30px) / 2);        
        }    
        
    @media screen and (min-width: 1200px) {
        width: calc((100% - 4 * 30px) / 4);
    }

    &__box {
        @extend %centeredflex;
        background: var(--secondary-section-bgd);
        min-height: 120px;
        width: 100%;
        border-radius: 4px;
        margin-bottom: 30px;
    }

    &__title {
        font-size: 14px;
        line-height: 1.14;
        color: var(--main-text-color);
        text-transform: uppercase;
        margin-bottom: 10px;

        @media screen and (max-width: 767px) {
            text-align: center;           
        }
    }

    &__desc {
        line-height: 1.71;
        color: var(--secondary-text-color);
    }
}