.logo {
    padding-top: 24px;
    padding-bottom: 25px;
    
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }

    @media screen and (max-width: 1199px) {
        font-size: 24px;
        line-height: 1.17;        
    }

    &__accent {
        color: var(--accent-color);
    }
}

.logo--blk {
    color: var(--black-color);
}

.logo--wht {
    color: var(--white-color);
}