.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 10px;
    right: 10px;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    transition: fill var(--transition-time) var(--cubic);
    
    &__icon {
        fill: var(--main-text-color #212121);
    }

        &:hover,
        &:focus {
            fill: var(--accent-color);
        }
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-button__container {

    @media screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 48px 40px;
        z-index: 999;
    
        background-color: var(--white-color);
    
        transform: translateX(100%);
        transition: transform var(--transition-time) var(--cubic);
    }  
    
    @media screen and (min-width: 768px) {
        display: flex;
        width: 100%;
    }
}

.menu-button__container.is-open {
    transform: translateX(0);
}