.menu-button {
    display: block;
    margin: 10px 0px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: fill var(--transition-time) var(--cubic);

    &__icon {
        fill: var(--main-text-color #212121);
    }

    @media screen and (min-width: 768px) {
        display: none;
        }
    
    & .icon-cross {
    display: none;
    }

    &.is-open .icon-cross {
    display: block;
    }

    &.is-open .icon-menu {
    display: none;
    } 

    
}

.menu-button:hover {
    fill: var(--accent-color);
}

.menu-button__container {
    background: #FFFFFF;
    display: flex;
    width: 100%;
    z-index: 999;

    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        height: auto;
        padding: 48px 40px;
    }

    &.is-open {
        display: block;
        
        @media screen and (min-width: 768px) {
                display: flex;        
            }
    }
}