.no-top-padding {
    padding-top: 0;
}

.pic-list {
    display: flex;
    justify-content: space-between;

    &__item {
        position: relative;
    }

    &__bgr {
        position: absolute;
        left: 0;
        bottom: 0;
        @extend %centeredflex;
        width: 100%;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
    }

    &__desc {
        font-weight: 700;
        text-transform: uppercase;
        color: var(--white-color);
    }
}
