.social-links {
    display: flex;
    justify-content: space-between;

    &__item {
        width: 44px;
        height: 44px;
        fill: var(--icon-color);
        border-radius: 50%;
        transition: background-color var(--transition-time) var(--cubic);
    }

    &__link {
        @extend %centeredflex;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: fill var(--transition-time) var(--cubic);
    }
}

.social-links__item--icon-white {
    fill: var(--white-color);
}

.social-links__link--bgr-grey {
    background: rgba(255, 255, 255, 0.1);
}

.social-links__item:hover,
.social-links__link:focus {
    background-color: var(--accent-color);
    fill: var(--white-color);
}