.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    & .icon-cross {
    display: none;
    }

    &.is-open .icon-cross {
    display: block;
    }

    &.is-open .icon-menu {
    display: none;
    }
}

.menu-button__container {
    // display: none;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 600px;
    padding: 48px 40px;

    background-color: tomato;
}