.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 94px 0;
}

.section__title {
    text-align: center;

    font-size: 36px;
    line-height: 1.16;
    color: var(--main-text-color);
    margin-bottom: 50px;
}