:root {
    --main-text-color: #212121;
    --accent-color: #2196f3;
    --black-color: #000000;
    --white-color: #ffffff;
    --secondary-text-color: #757575;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --secondary-bgd: #2f303a;
    --secondary-section-bgd: #f5f4fa;
    --icon-color: #afb1b8;

    --transition-time: 250ms;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

%centeredflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// виклик шаблону

// @extend enteredflex;

// Динамічна змінняб міксін

// @mixin centeredflex() {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// @include centeredflex; */

